extends layout 

block content
  h1 Input Form 
  form(method = 'post' action = '/new') 
    label(for = 'user') User
    input(type = 'text' name = 'user' id = 'user')
    label(for = 'message') Message
    input(type = 'text' name = 'message' id = 'message')
    button(type = 'submit') Submit